version: '3.8'

services:
  web:
    container_name: flask_app
    build: .
    ports:
      - '5000:5000'
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/dbname

  db:
    container_name: postgres_db
    image: postgres:14
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=dbname
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    container_name: redis_cache
    image: redis:alpine
    ports:
      - '6379:6379'

volumes:
  postgres_data:
